@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
body {
    background-image: url('pic2.jpg'); /* Add your image link here */
    background-repeat: no-repeat; /* Ensure the background image does not repeat */
    background-size: cover;
    font-size: 16px;
}

.calculator {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    border-radius: 1em;
    height: 390px;
    width: 400px;
    margin: auto;
    background-color: #08114e;
    box-shadow: rgba(0, 0, 0, 0.22) 0px 10px 20px, rgba(0, 0, 0, 0.23) 22px 22px 22px;
}

.display-box {
    font-family: 'Orbitron', sans-serif;
    font-size: 22px;
    background-color: #a2c7c7;
    border: solid black 0.5px;
    color: black;
    border-radius: 15px;
    width: 95%;
    height: 80%;
    align:left;
}

#btn {
    background-color: #00c0fb;
    width:100%;
    align :left;

}

input[type=button] {
    font-family: "copperplate",fantasy;
    font-size: 22px;
    background-color: #277f8f;
    color: white;
    border: solid black 0.8px;
    width: 100%;
    border-radius: 20px;
    height: 70%;
    outline:none;
}

input:active[type=button] {
    background: #9b6565;
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
    -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
    box-shadow: inset 0px 0px 5px #c1c1c1;
}


